body {
  width: calc(100vw - 15px);
  overflow-x: hidden;
}

.pc-container {
  position: relative;
  width: 100%;
  height: 150vh;
  margin-top: 150px;

  .advertising {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    font-weight: 700;

    .product-name {
      font-size: 32px;
      line-height: 1.25;
    }

    .info {
      margin-top: 8px;
      font-size: 110px;
      line-height: 0.9;
    }
  }

  .sticky-container {
    position: sticky;
    top: 100px;
    width: 100%;
    height: calc(100vh - 100px);

    .pc-img {
      width: 100vh;
      height: 521px;
      margin: 0 auto;
    }
  }
}

.scale-image {
  width: calc(100vw - 15px);
  height: 500vh;
  margin-top: 30px;
  // overflow-x: hidden;

  .pc-bg {
    position: sticky;
    top: -70px;
    width: calc(100vw - 15px);
    height: 100vh;

    &.show-image {
      background: url(./image/mac3.jpg) no-repeat center center;
      background-size: 90% 90%;
    }

    .canvas {
      position: absolute;
      top: 90px;
      left: 240px;
      display: block;
      margin: 0;
    }
  }
}
